<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    
        <!--H2 Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:test</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        
        
        
        
        <!-- Database connection settings 
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_mapping</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
  
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
         -->

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
     	<property name="hibernate.hbm2ddl.auto">create</property>
     	
     	<mapping class="com.hibernate.example.entity.Student"/>

        <!-- Mapping files -->
        <!-- Add mappings here
        
		<mapping resource="com/hibernate/example/Student.hbm.xml"></mapping>  -->

    </session-factory>
</hibernate-configuration>
